
[v-cloak]{
    display: none!important;
}
#container{ 
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 1.4rem;
}
.shouye_cell .van-cell-group{
    width:100%;
    height:1.12rem;
    line-height:1.12rem;
}
 .van-cell{
    position: relative;
    padding:0.32rem 0 0.32rem 0.33rem;
    font-family: PingFangSC-Regular;
    font-size:0.34rem;
    color: #222222;
}

.shouye_cell .van-cell__right-icon::before{
    content:"\F00A";
    font-size:0.27rem;
    color: #d8d8d8;
}
.van-cell__value span{
    font-size:0.26rem;
    color: #888888;
    vertical-align:top;
}
[class*=van-hairline]::after{
    border: none;
}
.shouye_cell .van-cell__right-icon{
    margin-right:0.3rem;
 }
 .shouye_cell .van-cell__title{
    word-break: keep-all;
}


#container .titleTop{
    padding:0.32rem 0 0.16rem 0.3rem;
    font-size: 0.3rem;
    color: #777777;
}
#container .new-tips {
    padding:0.3rem;
    font-size:0.26rem;
    color: #AAAAAA;
}
.marginTop2{
    margin-top: .2rem;
}

.marginBottom2{
    margin-bottom: .2rem;
}

.crossList{
    width:100%;
    height:1.92rem;
    line-height:1.92rem;
    background-color:#fff;
    display: flex;
    justify-content:space-between;
    padding:0.3rem;
}
.crossList div{
    width:1.2rem;
    height:1.32rem;
    background: #FDFBF7;
    border: 0.5px solid rgba(240,228,216,1);
    border-radius: 0.16rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    padding:0.2rem 0;
}
.crossList img{
    width:0.48rem;
    height:0.48rem;
}
.crossList div:nth-child(5){
    margin-right:0;
}
.crossList p{
    font-family: PingFangSC-Regular;
    font-size: 0.24rem;
    color: #666666;
    height:0.32rem;
    display:inline-block;
    line-height:1;
    margin-top:0.08rem;
}

.shou_collapse .van-cell__title div{
    min-width: 5rem;
}
.shou_collapse .van-icon-arrow{
    margin-right:0.3rem;
}
.shou_collapse .van-icon-question-o{
    background:url('./img/shuoming.png');
    background-size:0.32rem 0.32rem;
    background-repeat:no-repeat;
    background-position:center;
    width: 0.32rem;
    height: 0.32rem;
    display: inline-block;
    position: absolute;
    top: 37%;
}
.shou_collapse .van-icon-question-o::before{
    content:'';
    
}

.shou_collapse .van-icon-arrow::before{
    font-size:0.27rem;
    color: #d8d8d8;
    /* content:''; */
    
}
.shou_collapse .van-collapse-item__content{
    padding:0;
}
.shou_collapse .van-collapse-item__content .van-cell__title{
    font-size: 0.32rem;
    color: #444444;
}
.van-collapse-item__title--expanded+.van-collapse-item__wrapper{
    margin-bottom: .2rem;
}

.shou_collapse .shouye_cell{
    display: flex;
    align-items: center;
    margin-left: .5rem;
    color: #444444;
}

.shouye_cell .point{
    display: block;
    width: .08rem;
    height: .08rem;
    border-radius: 50%;
    background-color: #444444;
}

.van-collapse-item__title{
    position: relative;
}

#container .van-collapse-item .van-collapse-item__title--expanded::after, .van-collapse-item .van-collapse-item__title::after, .shouye_cell::after{
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left:-44%;
    transform: scale(.5);
    border-left: none;
    border-top: none;
    border-right: none;
    /* border-bottom: 0.02rem solid red; */
    border-bottom: 0.02rem solid #F3F3F3;
    visibility: visible;
}

.shou_collapse .shouye_cell::after{
    left: -50%;
    
}

.van-collapse-item:last-child .van-collapse-item__title::after, .shouye_cell:last-child::after {
    border:none;
}

/* 弹窗 */
.ensureTC {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .25);
    z-index: 999;
    overflow: auto;
}

.nmtcBox{
    width: 5.5rem;
    height: 7rem;
    border-radius: 16px;
    background: #FFF;
    position: absolute;
    top: 2.91rem;
    left: 1rem;
}

.nmtcText{
    width: 88%;
    height: 5.4rem;
    margin: 0.4rem;
    font-size: 0.3rem;
    font-weight: 400;
    overflow-y: auto;
}
.nmtcText>h3{
    text-align: center;
}
.mb15{
    margin-bottom: 0.3rem;
}
.nmtcText p{
    line-height: 0.5rem;
}
.paragraph{
    text-indent:0.4rem;
}
.nmtcText::after{
    content: ' ';
    height: 1px;
    width: 100%;
    background: rgba(229,229,229,1);
    position: absolute;
    top: 6.2rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.nmtcBtn{
    width: 100%;
    height: 0.8rem;
    text-align: center;
    line-height: 0.8rem;
    color: #DE2121;
    font-weight: 400;
    font-size: 0.3rem;
}