@font-face {
    font-family: "qingIcon";
    font-weight: 400;
    src: url("./An56tv6zTST5/6qXENfdlGDri.woff2") format("woff2"),
        url("./An56tv6zTST5/6qXENfdlGDri.woff") format("woff");
    font-display: swap;
}

$size: 20px;

.body {
	font-size: $size;
	.textContent {
		background: url(../../img/3.jpg) no-repeat !important;
		background-size: contain !important;
	}
}


.icon {
	font-family: "qingIcon";
	font-size: 30px;
	color: yellowgreen;
}
