<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../../lib/base.min.css">
    <link rel="stylesheet" href="../../../lib/vant/index@2.12.css">
    <link href="./css/index.css" rel="stylesheet" />
    <link href="../common/helloLoading.css" rel="stylesheet" />
</head>

<body>
    <div class="__hello" id="__hello">
		<div class="__hello_logo_box">
			<div class="__hello_logo"></div>
			<div class="__hello_mask"></div>
		</div>
	</div>
    <div class="listBox" id="app" v-cloak>
        <div v-if="isShowTip" class="titleTips">
            <p class="text">提示：先行赔付议案，投票情况的数值表示申报金额，先行赔付结果请以结果查询页面为准。</p>
        </div>
        <div v-if="isHistoryList" class="fixed fixedHead">
            <div class="dataChoose border-bottom-ee">
                <div class="tabBox">
                    <div 
                        class="select_item" 
                        v-for="(v, i) in daySelectArr"
                        :class="v.value == tabActiveValue ? 'nevbar' : ''" 
                        @click="dataSelect(v)"
                    >{{v.text}}</div>
                </div>
                <div v-if="isShowAccont" class="tabAccontBox" @click.stop="setShowType">
                    <span>{{accontInfo.active.text}}</span>
                    <img v-show="accontInfo.list.length > 1" class="codeDownIcon" src="../main/img/codeDown.png" />
                    <div v-if="isShowAccontOption && accontInfo.list.length > 1" class="accontSelect">
                        <div 
                            class="accontOption" 
                            v-for="opt in accontInfo.list"
                            :class="accontInfo.active.wtNumb === opt.wtNumb ? 'f-red' : ''"
                            @click.stop="optionClick(opt)"
                        >{{opt.text}}</div>
                    </div>
                </div>
            </div>
            <time-picker
                :is-show="tabActiveValue === 'userDefined'"
                :formatter="formatter" 
                :min-date="minDate" 
                :max-date="maxDate" 
                :begin-date="beginDate" 
                :end-date="endDate" 
                :max-diff="31"
                @confirm="onConfirm" 
                @datechange="onDateChange"
            ></time-picker>
        </div>
        <div v-if="!isHistoryList && isShowAccont" class="normalAccontBox fixed fixedHead"  @click.stop="setShowType">
            <div class="lable">股东账号</div>
            <div class="tabAccontBox">
                <span>{{accontInfo.active.text}}</span>
                <img v-show="accontInfo.list.length > 1" class="codeDownIcon" src="../main/img/codeDown.png" />
                <div v-if="isShowAccontOption && accontInfo.list.length > 1" class="accontSelect">
                    <div 
                    class="accontOption" 
                    v-for="opt in accontInfo.list"
                    :class="accontInfo.active.wtNumb === opt.wtNumb ? 'f-red' : ''"
                    @click.stop="optionClick(opt)"
                    >{{opt.text}}</div>
                </div>
            </div>
        </div>
        <div class="maincontent">
            <div ref="list" class="dzjy_list" v-if="dataList.length">
                <van-pull-refresh
                    v-model="isPullLoading"
                    success-text="刷新成功"
                    @refresh="onRefresh"
                >
                    <van-list
                        v-model="isLoadmore"
                        :finished="finished"
                        finished-text="没有更多了"
                        @load="loadData"
                    >
                        <div class="mainList" v-for="(item, i) in dataList" @click="goDetail(i)">
                            <div class="cont_title">
                                <span class="cont_left_text">
                                    <span class="title_name">{{item.name}}</span>
                                    <span class="title_code num">{{item.code}}</span>
                                </span>
                                <span class="status">{{item.status}} </span>
                            </div>
                            <p v-if="isResult" class="yianName">
                                <span class="siLable">议案名称</span>
                                <span class="siValue">{{item.yianName}}</span>
                            </p>
                            <div class="mainContent">
                                <p class="subItem"  v-for="si in item.mainArr" :class="si.isOneLine ? 'oneLineSubItem' : ''">
                                    <span class="siLable">{{si.lable}}</span>
                                    <span class="siValue num">{{si.value}}</span>
                                </p>
                            </div>
                            <p class="tip" v-if="item.tip">{{item.tip}}</p>
                        </div>
                    </van-list>
                </van-pull-refresh>
            </div>
            <div class="none" v-if="!dataList.length && !isLoadmore && !isLoading">
                <img src="../main/img/noData.png" alt="">
                <p>暂无数据</p>
            </div>
        </div>
        <div class="refreshBtn" :class="isHistoryList ? 'historyBack' : ''" @click="handleRefresh"></div>
    </div>
    <script type="text/javascript" src="../../../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../../lib/sea.js"></script>
    <script type="text/javascript" src="../../../lib/vue@2.6.12.min.js"></script>
    <script type="text/javascript" src="../../../lib/vant/vant@2.12.min.js"></script>
    <script type="text/javascript" src="../../../lib/TZT.js"></script>
    <script type="text/javascript" src="../../../lib/remFlex.js"></script>
    <script type="text/javascript" src="../../../lib/vconsole.min.js"></script>
    <script type="text/javascript">
        new VConsole();
        document.title = decodeURIComponent(T.getUrlParameter('title'))
        document.getElementById("__hello").style.display = "none";
        seajs.use('./js/index.js', function(exports) {
            exports.init();
        });
    </script>
</body>

</html>