[v-cloak]{
    display: none!important;
}
.dzjy_detail{
    background-color: #f3f3f4;
    padding-bottom: 1.5rem;
    font-family: PingFangSC-Regular;
}

.itemWrap {
    background-color: #fff;
}

.item {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    height: 1.12rem;
    margin: 0 .3rem;
    font-size: .3rem;
    border-bottom: 1px solid #E6E6E6;
    color: #444444;
}

.item:last-child{
    border: none;
}

.lable{
    font-size: .32rem;
    font-family: PingFangSC-Regular;
}

.value{
    font-family: PingFangSC-Regular;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    height: 1.1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: .1rem solid #f3f3f4;
}

.footer .line {
    height: 100%;
    width: 2px;
    background-color: #f3f3f4;
    display: inline-block;
}

.footer .btn {
    display: inline-block;
    height: 100%;
    line-height: 1.1rem;
    text-align: center;
    flex: 1;
    font-size: .34rem;
    color: #484848;
}