<!DOCTYPE html>
<html lang="en">

<head>
    <title>期权交割单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../../lib/base.min.css">
    <link rel="stylesheet" href="../../../lib/vant/index@2.12.css">
    <link href="./css/index.css" rel="stylesheet" />
    <link href="../common/helloLoading.css" rel="stylesheet" />
</head>

<body>
    <div class="__hello" id="__hello">
		<div class="__hello_logo_box">
			<div class="__hello_logo"></div>
			<div class="__hello_mask"></div>
		</div>
	</div>
    <div class="listBox" id="app" v-cloak>
        <div class="fixed fixedHead">
            <time-bar
                :min-date="minDate" 
                :max-date="maxDate" 
                :begin-date="beginDate" 
                :end-date="endDate"
                :active-tab="activeTab"
                :istoday="false"
                @confirm="onConfirm" 
                @datechange="onDateChange"
                @tabchange="onTabChange"
            ></time-bar>
        </div>
        
        <div class="maincontent">
            <div ref="list" class="main_list" v-if="dataList.length">
                <van-pull-refresh
                    v-model="isPullLoading"
                    success-text="刷新成功"
                    @refresh="onRefresh"
                >
                    <van-list
                        v-model="isLoadmore"
                        :finished="finished"
                        finished-text="没有更多了"
                        @load="loadData"
                    >
                        <div class="mainList" v-for="(item, i) in dataList" @click="goDetail(i)">
                            <div class="cont_title">
                                <div class="titleText">
                                    <span class="titleName">{{item.name}}</span>
                                    <span class="titileAmt num">{{item.money}}</span>
                                </div>
                                <div class="timeText">
                                    <span class="time">{{item.time}}</span>
                                    <span>发生金额</span>
                                </div>
                            </div>
                            <div class="mainContent">
                                <p class="subItem"  v-for="si in item.mainArr">
                                    <span class="siLable">{{si.lable}}</span>
                                    <span class="siValue num">{{si.value || '--'}}</span>
                                </p>
                            </div>
                            <div class="subContent">
                                <p class="subItem"  v-for="sui in item.subArr">
                                    <span class="siLable">{{sui.lable}}</span>
                                    <span class="siValue num">{{sui.value || '--'}}</span>
                                </p>
                            </div>
                        </div>
                    </van-list>
                </van-pull-refresh>
            </div>
            <div class="none" v-if="!dataList.length && !isLoadmore && !isLoading">
                <img src="../common/noData.png" alt="">
                <p>暂无数据</p>
            </div>
        </div>
        <!-- <div class="refreshBtn" :class="isHistoryList ? 'historyBack' : ''" @click="handleRefresh"></div> -->
    </div>
    <script type="text/javascript" src="../../../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../../lib/sea.js"></script>
    <script type="text/javascript" src="../../../lib/seajs-css.min.js"></script>
    <script type="text/javascript" src="../../../lib/vue@2.6.12.min.js"></script>
    <script type="text/javascript" src="../../../lib/vant/vant@2.12.min.js"></script>
    <script type="text/javascript" src="../../../lib/TZT.js"></script>
    <script type="text/javascript" src="../../../lib/remFlex.js"></script>
    <script type="text/javascript" src="../../../lib/vconsole.min.js"></script>
    <script type="text/javascript">
        new VConsole();
        document.title = decodeURIComponent(T.getUrlParameter('title'))
        document.getElementById("__hello").style.display = "none";
        seajs.use('./js/index.js', function(exports) {
            exports.init();
        });
    </script>
</body>

</html>