.red {
    color: #FD242A !important;
}

.searchcomBox {
    background-color: #ffffff;
}

.searchcomBox .searchInput {
    height: 0.64rem;
    background: #f5f5f5;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: .24rem;
    padding-left: .04rem;
}

.searchcomBox .searchInput .seachIcon {
    width: 0.32rem;
    height: 0.32rem;
}

.searchcomBox .searchInput input {
    border: none;
    background: none;
    padding-left: 0.12rem;
    width: 2.84rem;
    font-size: 0.28rem;
    padding-top: 0.05rem;
}

.searchcomBox .searchInput input::-webkit-input-placeholder {
    font-size: 0.28rem;
    color: #aaaaaa;
}

.searchcomBox .searchInput .clear {
    position: absolute;
    width: 0.32rem;
    height: 0.32rem;
    margin-right: 0.24rem;
    right: 0;
}

.search-box {
    background: #fff;
    width: 100%;
    position: sticky;
    top: 0;
}

.search-box .width-center {
    padding: 0.45rem 0.3rem;
    padding-bottom: 0.15rem;
    box-sizing: border-box;
}

.search-box .width-center .van-search {
    padding: 0 !important;
    justify-content: space-between;
}

.search-box .vantSearchBox {
    display: flex;
    align-items: center;
}

.search-box .vantSearchBox .close {
    margin-left: 0.32rem;
    font-size: 0.32rem;
    color: #222222;
    white-space: nowrap;
}

.search-list {
    box-sizing: border-box;
    padding: 0 0.3rem;
}

.search-list .search-list-item {
    height: 1rem;
    display: flex;
    align-items: center;
}

.search-list .search-list-item span {
    font-size: 0.32rem;
    color: #222222;
    line-height: 0.32rem;
    font-weight: 500;
}

.search-list .search-list-item .badge {
    border-radius: 0.04rem;
    border: 0.01rem solid;
    line-height: 0.36rem;
    height: 0.36rem;
    padding: 0 0.05rem;
    text-align: center;
    font-size: 0.24rem;
    font-weight: 400;
    max-width: 0.92rem;
    margin-right: 0.36rem;
}

.search-list .search-list-item .stock-code {
    font-family: CITIC-Numbers-Medium;
    margin-right: 0.6rem;
}

.van-search__content {
    background: #f5f5f5;
    width: 5.94rem !important;
    flex: 0 0 5.94rem !important;
    box-sizing: border-box !important;
}

.van-search__field {
    width: 5.64rem !important;
}

.van-popup--bottom {
    height: 530px;
}

.van-search__action {
    font-size: 0.32rem;
    color: #222222;
    font-weight: 400;
    padding: 0;
    margin-left: 0.32rem;
}

.empty {
    user-select: none;
    text-align: center;
    margin-top: 1.72rem;
}

.empty img {
    width: 2.7rem;
    height: 2.1rem;
}

.empty .empty-text {
    font-size: .28rem;
    color: #777777;
}

.empty .empty-button {
    /* border: 1px solid rgb(68, 140, 252); */
    /* border-radius: 4px; */
    /* width: 3rem; */
    /* height: .74rem; */
    margin: .64rem auto 0;
    /* line-height: 37px; */
    color: #448cfc;
    font-size: .3rem;
    line-height: .3rem;
}

.confirmContent {
    width: 6rem;
    line-height: 1.12rem;
    font-size: .36rem;
}
.confirmContent .confirmItem {
    padding: 0 .3rem;
    border-bottom: .01rem solid #eee;
}
.confirmContent .confirmItem .name {
    margin-left: .6rem;
}
.confirmContent .confirmItem:last-child {
    border-bottom: none;
}