*{margin: 0;padding: 0;}
a{text-decoration: none;}

.head-banner{width:100%;height:540px;min-width: 1024px;background:url(../img/首页/banner-bg1.jpg) no-repeat center center;border-top:1px solid #ccc;}
.head-banner-box{width:540px;height:200px;margin:150px auto;}
.head-banner-box p{font-size: 44px;color:#fff;width:650px;line-height: 54px;font-family: "sy-sans";font-weight:200;text-align:center;margin-left: -60px;}
.head-banner-box .head-input{width:540px;margin-top:50px;position: relative;}
.head-input input{width:520px;height:35px;padding-left: 10px;border-radius: 3px;border: 1px solid #ccc;}
.head-input button{width:30px;height:25px;background:url(../img/首页/search.png) no-repeat;background-size: 25px auto;border: 0px solid #ccc;position: absolute;top:7px;right:8px;cursor: pointer;}
.head-input button:hover{background-position: 0 -65px;}
.head-banner-box .head-rec{width:540px;text-align:center;margin-top:20px;}
.head-rec span{color:#aaa;font-size: 14px;}
.head-rec a{color:#fff;font-size: 14px;margin-right: 10px;}
.head-rec a:hover{color:#a00;}
/* 轮播图区域 */
.carousel{width:100%;height:320px;min-width: 1248px;margin-top:20px;overflow:hidden;}

.carousel .carousel-title{width:1024px;height:40px;margin:0 auto;}
.carousel-title p{position: relative;width:100%;font-size: 16px;color:#aaa;text-align: center;}
.carousel-title p::before{content:"";width:40%;height:0px;border-top: 1px solid #ccc;position: absolute;top:10px;left:0;display:block;}
.carousel-title p::after{content:"";width:40%;height:0px;border-top: 1px solid #ccc;position: absolute;top:10px;right:0;display:block;}
.carousel-box{width:1004px;height:240px;margin:0 auto;position: relative;}
.carousel-allbox{width:1024px;position: absolute;top:0;left:1500px;}
.carousel-allbox:nth-child(1){left:0;}
.carousel-box a{display:inline-block;width:250px;}
.carousel-box img{width:240px;height:240px;transform: all 1s;}
/* .carousel-box img2:hover{box-shadow: 0 0 15px #ccc;transition:scale(1.1) ;} */
.carousel-box .btn{position: absolute;font-size: 100px;color:#aaa;font-family:'icomoon';cursor: pointer;}
.carousel-box .btn:hover{color:#666;}
.carousel-box .btn-left{top:50px;left:-100px;}
.carousel-box .btn-right{top:50px;right:-100px;}
.carousel-box ul{position:absolute;left:50%;bottom:-30px;height:20px;margin-left:-60px;}
.carousel-box ul li{width:20px;height:20px;background:#ccc;border-radius: 50%;float: left;margin-right: 20px;cursor: pointer;}
.carousel-box ul li:hover{background:#aaa;}
.carousel-box ul .list-choose{background:#aaa;}

/* 内容主体区 */
.content{height:auto;width:90%;margin:50px auto;position: relative;}
.content-title{width:100%;position: absolute;left:0;top:-40px;z-index: 5;}
.content-title p{width:300px;height:20px;text-align: center;margin:0 auto;line-height: 20px;color:#aaa;cursor: pointer;}
.content-title p::before{content:"";width:35%;height:0px;border-top: 1px solid #ccc;position: absolute;top:8px;left:0;display:block;}
.content-title p::after{content:"";width:35%;height:0px;border-top: 1px solid #ccc;position: absolute;top:8px;right:0;display:block;}
.contentBox{width:1207px;height:1190px;margin:0 auto;}
.content-pic{float: left;margin:10px 0 0 10px;padding:10px;border:1px solid #ccc;display:block;border-radius: 10px;}
.content-pic img{border-radius: 5px;transition: all 1s;}
.content-pic img:hover{box-shadow: 0 0 20px #000;}
/* .content-pic img2:hover{} */
.content-pic:nth-last-child()::after{content:""; clear: both;display:block;overflow: hidden;height:0;visibility: hidden;}
.content-p{width:100%;position: absolute;left:0;bottom:-70px;z-index: 5;}
.content-p p{width:30%;height:40px;background:#eee;text-align: center;margin:0 auto;line-height: 40px;color:#aaa;cursor: pointer;}
.content-p p::before{content:"";width:30%;height:0px;border-top: 1px solid #ccc;position: absolute;top:20px;left:0;display:block;}
.content-p p::after{content:"";width:30%;height:0px;border-top: 1px solid #ccc;position: absolute;top:20px;right:0;display:block;}
/* 分类导航区 */
.gether{height:250px;margin:0 auto;margin-top:70px;padding:20px 100px 20px 100px;}
.gether-p{width:100%;height:30px;line-height: 20px;color:#aaa;border-bottom: 1px solid #999;}
.gether div{float: left;width:20%;padding:20px 0;}
.gether div a{display:block;width:80px;height: 30px;line-height: 30px;color:#333;font-size: 13px;}
.gether div a:hover{border-bottom:1px solid #ccc;color:#900;}
/* 尾部foot区*/
.foot{height:200px;margin:0 auto;margin-top:70px;padding:50px 100px 20px 100px;background:#333;margin-top:-20px;}
.foot ul{float: left;width:20%;}
.foot ul:nth-child(4){float: right;border-left: 1px solid #ccc;border-right: 1px solid #ccc;padding-left: 20px;position: relative;}
.foot ul li:nth-child(1) a{font-size: 16px;margin-bottom: 20px;color:#ddd;}
.foot ul li a{display:block;height: 30px;line-height: 30px;color:#333;font-size: 13px;color:#ccc;}
.foot ul li a:hover{color:#fff;}
.foot ul li a img{width:15px;height:15px;margin-left:10px;}
.foot ul .foot-ul-img{width:80px;height:80px;position: absolute;bottom:20px;left:170px;display: none;}
/* 返回顶部与帮助板块 */
.return-all{position: fixed;right:20px;bottom:50px;z-index: 7;}
.return-all div{width:35px;height:35px;background:#000;opacity: 0.4;margin-top:10px;border-radius: 5px;cursor: pointer;}
.return-all div:hover{opacity:0.6;}
.return-all .return{background:url(../img/首页/return.png) no-repeat;background-size: 100% 100%;}
.return-p{position: absolute;opacity: 1;width:50px;font-size: 12px;color:#000;top:-10px;right:0;background:#ccc;display:none;}
.return-all .help{background:url(../img/首页/help.png) no-repeat;background-size: 100% 100%;}
.return-all .help-ul{position: absolute;font-size: 12px;width:60px;top:15px;left:-110px;background:#eee;width:100px;height:100px;padding-top:10px;display:none;}
.help-ul li{height:30px;line-height: 30px;width:100px;text-align: center;cursor: pointer;}
.help-ul li:hover{background:#aaa;}
/* 彩蛋1 */
.egg1{width:600px;height:600px;margin:50px auto;display:none;}
/* 彩蛋2 */
#egg2{width:100%;height:1000px;position: relative;display:none;}
#egg2 img{width:450px;height:330px;margin:0 auto;display: block;transition:all 1s;}
#egg2 figure{position:relative;width:32%;height:320px;/* background:pink; */float: left;margin-left:1%;margin-top: 30px;overflow: hidden; }
#egg2 figure:hover img{opacity:0.5;}
#egg2 .view p,#egg2 span,#egg2 div{position:absolute;transition: all 1s;}

#egg2 .view1:hover img{transform: translateX(30px);}
#egg2 span{left:90px;font-size: 18px;transition:all 0.3s;}
#egg2 .titile{top:50px;font-size: 20px;font-weight: bold;}
#egg2 .view1 .movie1{bottom:100px;transform: translateY(400px);}
#egg2 .view1 .movie2{bottom:70px;transform: translateY(-400px);}
#egg2 .view1 .movie3{bottom:40px;transform: translateX(400px);}
#egg2 .view:hover span{transform: translate(0px);}
#egg2 .view2:hover img{transform: translateY(30px);}
#egg2 .view2 .movie1{bottom:100px;transform: translateX(-400px) ;}
#egg2 .view2 .movie2{bottom:70px;transform: translateX(-400px);}
#egg2 .view2 .movie2{transition-delay: 0.2s;}
#egg2 .view2 .movie3{bottom:40px;transform: translateX(-400px);}
#egg2 .view2 .movie3{transition-delay: 0.4s;}

#egg2 .view3:hover img{transform: translateX(-30px);}
#egg2 .view3 p{width:300px;height:200px;left:40px;bottom:-250px;font-size: 18px;line-height: 20px;color:blue;}
#egg2 .view3:hover p{bottom:0px;}

#egg2 .view4 div{width:150%;height:200px;left:0;bottom:-200px;background:green;opacity: 0.5;}
#egg2 .view4:hover div{transform:rotate(-25deg);transform-origin:0% 0%;}
#egg2 .view4:hover .titile{transform:scale(1.5);}
#egg2 .proverb{bottom:-50px;left:150px;}
#egg2 .view4:hover .proverb{bottom:30px;}

#egg2 .view5 div{width: 350px;height:250px;border:2px solid #000;left:10%;top:10%;transform:rotate(0deg) translateY(-400px);transform-origin: 10% 10%;}
#egg2 .view5:hover div{transform:rotate(360deg) translate(0);}
#egg2 .view5:hover .titile{transform:translateX(-40px);}
#egg2 .view5:hover .proverb{bottom:60px;}

#egg2 .view6:hover img{transform: scale(1.3);}
#egg2 .view6 .awards{transform: scale(0);color:red;font-size: 18px;}
#egg2 .view6 .awards1{left:150px;top:80px;transition-delay: 0;}
#egg2 .view6 .awards2{left:150px;top:110px;transition-delay: 0.2s;}
#egg2 .view6 .awards3{left:150px;top:140px;transition-delay: 0.4s;}
#egg2 .view6 .awards4{left:150px;top:170px;transition-delay: 0.6s;}
#egg2 .view6 .awards5{left:150px;top:200px;transition-delay: 0.8s;}
#egg2 .view6 .awards6{left:150px;top:230px;transition-delay: 1.0s;}
#egg2 .view6 .awards7{left:150px;top:260px;transition-delay: 1.2s;}
#egg2 .view6:hover .awards{transform:scale(1)}

#egg2 .view7:hover img{transform: scale(0.9);}
#egg2 .view7 .p1{left:50px;top:100px;transform: scale(0)}
#egg2 .view7 .p2{left:50px;top:130px;width:330px;transform: scale(0);transition-delay: 1s;}
#egg2 .view7 .p3{left:50px;top:180px;width:350px;transform: scale(0);transition-delay: 2s;}
#egg2 .view7:hover .p1{animation: bounce 1s ease-in 0s;transform: scale(1);}
#egg2 .view7:hover .p2{animation: bounce 1s ease-in 1s;transform: scale(1);}
#egg2 .view7:hover .p3{animation: bounce 1s ease-in 2s;transform: scale(1);}

#egg2 .view8 .TandB{width: 0px;height:200px;border-top:2px solid #000;border-bottom:2px solid #000;left:7%;top:14%;}
#egg2 .view8 .LandR{width: 300px;height:0;border-left:2px solid #000;border-right:2px solid #000;left:14%;top:7%;}
#egg2 .view8:hover .TandB{width:350px;}
#egg2 .view8:hover .LandR{height:250px;}
#egg2 .view8 span{width:200px;left:120px;top:120px;transform:rotate(0) scale(0);transform-origin: 20% 20%;transition:all 1.5s;}
#egg2 .view8:hover span{transform:rotate(360deg) scale(1);}
#egg2 .view8 .box{width:250px;height:250px;left:90px;top:20px;border:3px solid pink;border-radius: 200px;box-shadow: 0 0 15px red;transform:rotateY(90deg);transition: all 1s;}
#egg2 .view8:hover .box{display:block;transform:rotateY(0deg);}

#egg2 .view9:hover img{transform: rotate(15deg);}
#egg2 .view9:hover p{left:100px;top:100px;width:200px;animation: change 3s linear infinite;}
@keyframes rotate{
	from{}
	to{transform:rotate(360deg);}
}
@keyframes bounce{
	0%{margin-top:-150px;}
	16%{margin-top:0px;}
	32%{margin-top:-75px;}
	48%{margin-top:0;}
	64%{margin-top:-30px;}
	80%{margin-top:0;}
	90%{margin-top:-15px}
	100%{margin-top:0;}
}
@keyframes change{
	0%{color:black;}
	25%{color:red;}
	50%{color:yellow;}
	75%{color:blue;}
	100%{color:black;}
}
/* 彩蛋3 */
#egg3{width:100%;height:2000px;display:none;}
#egg3 #imgArea{position: relative;}
#egg3 #imgArea .pic{float: left;padding:15px 0 0 15px;}
#egg3 #imgArea .pic img{padding:10px;width:165px;border-radius: 5px;border:1px solid #ccc;display:block;}
/* 彩蛋4 */
#egg4{background:url(../img/首页/egg4/bg2.jpg);background-size:100%;text-align: center;height:600px;width:90%;margin:0 auto;margin-top:100px;display:none;}
/* logo与企业名称部分 */
#egg4 .head .head-left{width: 100%;height: 100px;position: relative;background:rgba(0,0,0,.3);top: 0;}
#egg4 .head-left .logo{float: left;width: 100px;height: 100px;background:url(../img/首页/egg4/logo.png) no-repeat;background-size: 100%;margin-left: 30px;}
#egg4 .head-left .name{float: left;line-height:100px;font-size:50px;color:#333;font-family: "楷体";}
#egg4 .head-left .word{float: left;margin-top:50px;color:#ccc;}
/* 照片墙部分 */
#egg4 .content{min-width: 1200px;}
#egg4 .photo{padding:50px;transition:all 2s;float: left;}
#egg4 .photo h3{margin:-50px auto 50px;}
#egg4 .photo img{width:170px;}
#egg4 .photo span{display:block;}
#egg4 .photo p{display:none;}
#egg4 .photo div{float: left;padding:10px;background:#eee;margin:10px;transition:all 1.5s;border-radius:10px;position:relative;box-shadow: 0px 0px 20px skyblue;}
#egg4 .photo .person1{transform:rotate(30deg);}
#egg4 .photo .person2{transform:rotate(-20deg);}
#egg4 .photo .person3{transform:rotate(40deg);}
#egg4 .photo .person4{transform:rotate(10deg);}
#egg4 .photo div:hover{transform: rotate(0deg) scale(1.3,1.3);z-index: 10;}
#egg4 .photo div:hover p{display:block;}
#egg4 .photo::after{content:"";height:0;display:none;clear: both;}
 /* 3D部分 */
#egg4 .cube{float:left;position:relative;}
#egg4 .cube h3{position:absolute;top:0px;left:30px;width:200px;}
#egg4 .cube ul{width: 200px;height: 250px;position: absolute;top:100px;left:30px;transform-style: preserve-3d;animation: sport 4s linear 0s infinite normal;}
#egg4 .cube p{display:none;}
#egg4 .cube ul li{list-style: none;width: 200px;height: 250px;position: absolute;left: 0;top: 0;background-color: black;transition: all 1s;}
#egg4 .cube li:nth-child(1){transform: rotateY(90deg) translateZ(100px);}
#egg4 .cube li:nth-child(2){transform: rotateY(180deg) translateZ(100px);}
#egg4 .cube li:nth-child(3){transform: rotateY(270deg) translateZ(100px);}
#egg4 .cube li:nth-child(4){transform: rotateY(0deg) translateZ(100px);}
#egg4 .cube li img{width: 200px;height: 250px;border: 5px solid skyblue;box-sizing: border-box;}
#egg4 .cube ul:hover{animation-play-state: paused;}
#egg4 .cube ul li:nth-child(1):hover{transform: rotateY(90deg) translateZ(150px) scale(1.3);}
#egg4 .cube ul li:nth-child(2):hover{transform: rotateY(180deg) translateZ(150px) scale(1.3);}
#egg4 .cube ul li:nth-child(3):hover{transform: rotateY(270deg) translateZ(150px) scale(1.3);}
#egg4 .cube ul li:nth-child(4):hover{transform: rotateY(0deg) translateZ(150px) scale(1.3);}
#egg4 .cube ul:hover li img{opacity: 0.5;}
#egg4 .cube ul li:hover p{display:block;}
#egg4 .cube ul li:hover img{opacity: 1;}
@keyframes sport {
		from{
				transform: rotateX(-10deg) rotateY(0deg);
		}
		to{
				transform: rotateX(-10deg) rotateY(360deg);
		}
	}