@charset "utf-8";

*{margin: 0;
padding: 0;}
/*#index_footer{
	position: relative;
	top: 300px;
	background: deeppink;
	padding: 25px 0 0;
}
.wrapper-996{
	width: 996px;
	
}
.wrapper{
	position: relative;
	margin: 0 auto;
	border: 0;
}
#index_footer .column{
	width: 200px;
	display: inline-block;
	vertical-align: top;
}*/
